In [51]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

In [52]:
ratings

        movie_id                                      title  user_id  rating
0              1                           Toy Story (1995)      308       4
1              1                           Toy Story (1995)      287       5
2              1                           Toy Story (1995)      148       4
3              1                           Toy Story (1995)      280       4
4              1                           Toy Story (1995)       66       3
...          ...                                        ...      ...     ...
99998       1678                          Mat' i syn (1997)      863       1
99999       1679                           B. Monkey (1998)      863       3
100000      1680                       Sliding Doors (1998)      863       2
100001      1681                        You So Crazy (1994)      896       3
100002      1682  Scream of Stone (Schrei aus Stein) (1991)      916       3

[100003 rows x 4 columns]

In [53]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [54]:
ratings.pivot_table(index="user_id",columns="title",values="rating")

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [55]:
ratings.pivot_table(index="title",columns="user_id",values="rating")

user_id,0,1,2,3,4,5,6,7,8,9,...,934,935,936,937,938,939,940,941,942,943
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,5.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns II (1990),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
"Young Poisoner's Handbook, The (1995)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zeus and Roxanne (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unknown,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Á köldum klaka (Cold Fever) (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
a=ratings["title"].unique()

In [57]:
a.sum()

"Toy Story (1995)GoldenEye (1995)Four Rooms (1995)Get Shorty (1995)Copycat (1995)Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)Twelve Monkeys (1995)Babe (1995)Dead Man Walking (1995)Richard III (1995)Seven (Se7en) (1995)Usual Suspects, The (1995)Mighty Aphrodite (1995)Postino, Il (1994)Mr. Holland's Opus (1995)French Twist (Gazon maudit) (1995)From Dusk Till Dawn (1996)White Balloon, The (1995)Antonia's Line (1995)Angels and Insects (1995)Muppet Treasure Island (1996)Braveheart (1995)Taxi Driver (1976)Rumble in the Bronx (1995)Birdcage, The (1996)Brothers McMullen, The (1995)Bad Boys (1995)Apollo 13 (1995)Batman Forever (1995)Belle de jour (1967)Crimson Tide (1995)Crumb (1994)Desperado (1995)Doom Generation, The (1995)Free Willy 2: The Adventure Home (1995)Mad Love (1995)Nadja (1994)Net, The (1995)Strange Days (1995)To Wong Foo, Thanks for Everything! Julie Newmar (1995)Billy Madison (1995)Clerks (1994)Disclosure (1994)Dolores Claiborne (1994)Eat Drink Man Woman (1994)Exotica (1994)Ed Wood (1994)Hoop Dreams (1994)I.Q. (1994)Star Wars (1977)Legends of the Fall (1994)Madness of King George, The (1994)Natural Born Killers (1994)Outbreak (1995)Professional, The (1994)Pulp Fiction (1994)Priest (1994)Quiz Show (1994)Three Colors: Red (1994)Three Colors: Blue (1993)Three Colors: White (1994)Stargate (1994)Santa Clause, The (1994)Shawshank Redemption, The (1994)What's Eating Gilbert Grape (1993)While You Were Sleeping (1995)Ace Ventura: Pet Detective (1994)Crow, The (1994)Forrest Gump (1994)Four Weddings and a Funeral (1994)Lion King, The (1994)Mask, The (1994)Maverick (1994)Faster Pussycat! Kill! Kill! (1965)Brother Minister: The Assassination of Malcolm X (1994)Carlito's Way (1993)Firm, The (1993)Free Willy (1993)Fugitive, The (1993)Hot Shots! Part Deux (1993)Hudsucker Proxy, The (1994)Jurassic Park (1993)Much Ado About Nothing (1993)Robert A. Heinlein's The Puppet Masters (1994)Ref, The (1994)Remains of the Day, The (1993)Searching for Bobby Fischer (1993)Sleepless in Seattle (1993)Blade Runner (1982)So I Married an Axe Murderer (1993)Nightmare Before Christmas, The (1993)True Romance (1993)Welcome to the Dollhouse (1995)Home Alone (1990)Aladdin (1992)Terminator 2: Judgment Day (1991)Dances with Wolves (1990)Silence of the Lambs, The (1991)Snow White and the Seven Dwarfs (1937)Fargo (1996)Heavy Metal (1981)Aristocats, The (1970)All Dogs Go to Heaven 2 (1996)Theodore Rex (1995)Sgt. Bilko (1996)Diabolique (1996)Moll Flanders (1996)Kids in the Hall: Brain Candy (1996)Mystery Science Theater 3000: The Movie (1996)Operation Dumbo Drop (1995)Truth About Cats & Dogs, The (1996)Flipper (1996)Horseman on the Roof, The (Hussard sur le toit, Le) (1995)Wallace & Gromit: The Best of Aardman Animation (1996)Haunted World of Edward D. Wood Jr., The (1995)Cold Comfort Farm (1995)Rock, The (1996)Twister (1996)Maya Lin: A Strong Clear Vision (1994)Striptease (1996)Independence Day (ID4) (1996)Cable Guy, The (1996)Frighteners, The (1996)Lone Star (1996)Phenomenon (1996)Spitfire Grill, The (1996)Godfather, The (1972)Supercop (1992)Bound (1996)Kansas City (1996)Breakfast at Tiffany's (1961)Wizard of Oz, The (1939)Gone with the Wind (1939)Citizen Kane (1941)2001: A Space Odyssey (1968)Mr. Smith Goes to Washington (1939)Big Night (1996)D3: The Mighty Ducks (1996)Love Bug, The (1969)Homeward Bound: The Incredible Journey (1993)20,000 Leagues Under the Sea (1954)Bedknobs and Broomsticks (1971)Sound of Music, The (1965)Die Hard (1988)Lawnmower Man, The (1992)Unhook the Stars (1996)Long Kiss Goodnight, The (1996)Ghost and the Darkness, The (1996)Jude (1996)Swingers (1996)Willy Wonka and the Chocolate Factory (1971)Sleeper (1973)Fish Called Wanda, A (1988)Monty Python's Life of Brian (1979)Dirty Dancing (1987)Reservoir Dogs (1992)Platoon (1986)Weekend at Bernie's (1989)Basic Instinct (1992)Glengarry Glen Ross (1992)Top Gun (1986)On Golden Pond (1981)Return of the Pink Panther, The (1974)Abyss, The (1989)Jean de Florette (1986)Manon of the Spring (Manon des sources) (1986)Private Benjamin (1980)Monty Python and the Holy Grail (1974)Wrong Trousers, The (1993)Cinema Paradiso (1988)Delicatessen (1991)Empire Strikes Back, The (1980)Princess Bride, The (1987)Raiders of the Lost Ark (1981)Brazil (1985)Aliens (1986)Good, The Bad and The Ugly, The (1966)12 Angry Men (1957)Clockwork Orange, A (1971)Apocalypse Now (1979)Return of the Jedi (1983)GoodFellas (1990)Alien (1979)Army of Darkness (1993)Psycho (1960)Blues Brothers, The (1980)Godfather: Part II, The (1974)Full Metal Jacket (1987)Grand Day Out, A (1992)Henry V (1989)Amadeus (1984)Raging Bull (1980)Right Stuff, The (1983)Sting, The (1973)Terminator, The (1984)Dead Poets Society (1989)Graduate, The (1967)Nikita (La Femme Nikita) (1990)Bridge on the River Kwai, The (1957)Shining, The (1980)Evil Dead II (1987)Groundhog Day (1993)Unforgiven (1992)Back to the Future (1985)Patton (1970)Akira (1988)Cyrano de Bergerac (1990)Young Frankenstein (1974)This Is Spinal Tap (1984)Indiana Jones and the Last Crusade (1989)M*A*S*H (1970)Unbearable Lightness of Being, The (1988)Room with a View, A (1986)Pink Floyd - The Wall (1982)Field of Dreams (1989)When Harry Met Sally... (1989)Bram Stoker's Dracula (1992)Cape Fear (1991)Nightmare on Elm Street, A (1984)Mirror Has Two Faces, The (1996)Breaking the Waves (1996)Star Trek: First Contact (1996)Sling Blade (1996)Ridicule (1996)101 Dalmatians (1996)Die Hard 2 (1990)Star Trek VI: The Undiscovered Country (1991)Star Trek: The Wrath of Khan (1982)Star Trek III: The Search for Spock (1984)Star Trek IV: The Voyage Home (1986)Batman Returns (1992)Young Guns (1988)Under Siege (1992)Jaws (1975)Mars Attacks! (1996)Citizen Ruth (1996)Jerry Maguire (1996)Raising Arizona (1987)Sneakers (1992)Beavis and Butt-head Do America (1996)Last of the Mohicans, The (1992)Kolya (1996)Jungle2Jungle (1997)Smilla's Sense of Snow (1997)Devil's Own, The (1997)Chasing Amy (1997)Turbo: A Power Rangers Movie (1997)Grosse Pointe Blank (1997)Austin Powers: International Man of Mystery (1997)Fifth Element, The (1997)Shall We Dance? (1996)Lost World: Jurassic Park, The (1997)Pillow Book, The (1995)Batman & Robin (1997)My Best Friend's Wedding (1997)When the Cats Away (Chacun cherche son chat) (1996)Men in Black (1997)Contact (1997)George of the Jungle (1997)Event Horizon (1997)Air Bud (1997)In the Company of Men (1997)Steel (1997)Mimic (1997)Hunt for Red October, The (1990)Kull the Conqueror (1997)unknownFull Monty, The (1997)Gattaca (1997)Starship Troopers (1997)Good Will Hunting (1997)Heat (1995)Sabrina (1995)Sense and Sensibility (1995)Leaving Las Vegas (1995)Restoration (1995)Bed of Roses (1996)Once Upon a Time... When We Were Colored (1995)Up Close and Personal (1996)River Wild, The (1994)Time to Kill, A (1996)Emma (1996)Tin Cup (1996)Secrets & Lies (1996)English Patient, The (1996)Marvin's Room (1996)Scream (1996)Evita (1996)Fierce Creatures (1997)Absolute Power (1997)Rosewood (1997)Donnie Brasco (1997)Liar Liar (1997)Breakdown (1997)Promesse, La (1996)Ulee's Gold (1997)Face/Off (1997)Hoodlum (1997)Air Force One (1997)In & Out (1997)L.A. Confidential (1997)Fly Away Home (1996)Ice Storm, The (1997)Mrs. Brown (Her Majesty, Mrs. Brown) (1997)Devil's Advocate, The (1997)FairyTale: A True Story (1997)Deceiver (1997)Rainmaker, The (1997)Wings of the Dove, The (1997)Midnight in the Garden of Good and Evil (1997)Titanic (1997)3 Ninjas: High Noon At Mega Mountain (1998)Apt Pupil (1998)As Good As It Gets (1997)In the Name of the Father (1993)Schindler's List (1993)Everyone Says I Love You (1996)Paradise Lost: The Child Murders at Robin Hood Hills (1996)Mother (1996)Murder at 1600 (1997)Dante's Peak (1997)Lost Highway (1997)Crash (1996)G.I. Jane (1997)Cop Land (1997)Conspiracy Theory (1997)Desperate Measures (1998)187 (1997)Edge, The (1997)Kiss the Girls (1997)Game, The (1997)U Turn (1997)How to Be a Player (1997)Playing God (1997)House of Yes, The (1997)Bean (1997)Mad City (1997)Boogie Nights (1997)Critical Care (1997)Man Who Knew Too Little, The (1997)Alien: Resurrection (1997)Apostle, The (1997)Deconstructing Harry (1997)Jackie Brown (1997)Wag the Dog (1997)Hard Rain (1998)Fallen (1998)Prophecy II, The (1998)Spice World (1997)Deep Rising (1998)Wedding Singer, The (1998)Sphere (1998)Client, The (1994)One Flew Over the Cuckoo's Nest (1975)Spawn (1997)Assignment, The (1997)Wonderland (1997)Incognito (1997)Blues Brothers 2000 (1998)Sudden Death (1995)Ace Ventura: When Nature Calls (1995)Powder (1995)Dangerous Minds (1995)Clueless (1995)Bio-Dome (1996)Black Sheep (1996)Mary Reilly (1996)Bridges of Madison County, The (1995)Jeffrey (1995)Judge Dredd (1995)Mighty Morphin Power Rangers: The Movie (1995)Showgirls (1995)Houseguest (1994)Heavyweights (1994)Miracle on 34th Street (1994)Tales From the Crypt Presents: Demon Knight (1995)Star Trek: Generations (1994)Muriel's Wedding (1994)Adventures of Priscilla, Queen of the Desert, The (1994)Flintstones, The (1994)Naked Gun 33 1/3: The Final Insult (1994)True Lies (1994)Addams Family Values (1993)Age of Innocence, The (1993)Beverly Hills Cop III (1994)Black Beauty (1994)Fear of a Black Hat (1993)Last Action Hero (1993)Man Without a Face, The (1993)Mrs. Doubtfire (1993)Radioland Murders (1994)Robin Hood: Men in Tights (1993)Serial Mom (1994)Striking Distance (1993)Super Mario Bros. (1993)Three Musketeers, The (1993)Little Rascals, The (1994)Brady Bunch Movie, The (1995)Ghost (1990)Batman (1989)Pinocchio (1940)Mission: Impossible (1996)Thinner (1996)Spy Hard (1996)Close Shave, A (1995)Jack (1996)Kingpin (1996)Nutty Professor, The (1996)Very Brady Sequel, A (1996)Tales from the Crypt Presents: Bordello of Blood (1996)My Favorite Year (1982)Apple Dumpling Gang, The (1975)Old Yeller (1957)Parent Trap, The (1961)Cinderella (1950)Mary Poppins (1964)Alice in Wonderland (1951)William Shakespeare's Romeo and Juliet (1996)Aladdin and the King of Thieves (1996)E.T. the Extra-Terrestrial (1982)Children of the Corn: The Gathering (1996)Bob Roberts (1992)Transformers: The Movie, The (1986)To Kill a Mockingbird (1962)Harold and Maude (1971)Day the Earth Stood Still, The (1951)Duck Soup (1933)Highlander (1986)Fantasia (1940)Heathers (1989)Forbidden Planet (1956)Butch Cassidy and the Sundance Kid (1969)American Werewolf in London, An (1981)Amityville 1992: It's About Time (1992)Amityville 3-D (1983)Amityville: A New Generation (1993)Amityville II: The Possession (1982)Amityville Horror, The (1979)Amityville Curse, The (1990)Birds, The (1963)Blob, The (1958)Body Snatcher, The (1945)Burnt Offerings (1976)Carrie (1976)Omen, The (1976)Star Trek: The Motion Picture (1979)Star Trek V: The Final Frontier (1989)Grease (1978)Jaws 2 (1978)Jaws 3-D (1983)Bastard Out of Carolina (1996)Jackie Chan's First Strike (1996)Beverly Hills Ninja (1997)Free Willy 3: The Rescue (1997)Nixon (1995)Cry, the Beloved Country (1995)Crossing Guard, The (1995)Smoke (1995)Like Water For Chocolate (Como agua para chocolate) (1992)Secret of Roan Inish, The (1994)Vanya on 42nd Street (1994)Jungle Book, The (1994)Red Rock West (1992)Bronx Tale, A (1993)Rudy (1993)Short Cuts (1993)Tombstone (1993)Courage Under Fire (1996)Dragonheart (1996)James and the Giant Peach (1996)Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)Trainspotting (1996)First Wives Club, The (1996)Matilda (1996)Philadelphia Story, The (1940)Vertigo (1958)North by Northwest (1959)Apartment, The (1960)Some Like It Hot (1959)Casablanca (1942)Maltese Falcon, The (1941)My Fair Lady (1964)Sabrina (1954)Roman Holiday (1953)Sunset Blvd. (1950)Notorious (1946)To Catch a Thief (1955)Adventures of Robin Hood, The (1938)East of Eden (1955)Thin Man, The (1934)His Girl Friday (1940)Around the World in 80 Days (1956)It's a Wonderful Life (1946)Bringing Up Baby (1938)African Queen, The (1951)Cat on a Hot Tin Roof (1958)Dumbo (1941)Bananas (1971)Candidate, The (1972)Bonnie and Clyde (1967)Dial M for Murder (1954)Rebel Without a Cause (1955)Streetcar Named Desire, A (1951)People vs. Larry Flynt, The (1996)My Left Foot (1989)Magnificent Seven, The (1954)Lawrence of Arabia (1962)Wings of Desire (1987)Third Man, The (1949)Annie Hall (1977)Boot, Das (1981)Local Hero (1983)Manhattan (1979)Miller's Crossing (1990)Treasure of the Sierra Madre, The (1948)Great Escape, The (1963)Deer Hunter, The (1978)Down by Law (1986)Cool Hand Luke (1967)Great Dictator, The (1940)Big Sleep, The (1946)Ben-Hur (1959)Gandhi (1982)Killing Fields, The (1984)My Life as a Dog (Mitt liv som hund) (1985)Man Who Would Be King, The (1975)Shine (1996)Kama Sutra: A Tale of Love (1996)Daytrippers, The (1996)Traveller (1997)Addicted to Love (1997)Ponette (1996)My Own Private Idaho (1991)Anastasia (1997)Mouse Hunt (1997)Money Train (1995)Mortal Kombat (1995)Pocahontas (1995)Misérables, Les (1995)Things to Do in Denver when You're Dead (1995)Vampire in Brooklyn (1995)Broken Arrow (1996)Young Poisoner's Handbook, The (1995)NeverEnding Story III, The (1994)Rob Roy (1995)Die Hard: With a Vengeance (1995)Lord of Illusions (1995)Species (1995)Walk in the Clouds, A (1995)Waterworld (1995)White Man's Burden (1995)Wild Bill (1995)Farinelli: il castrato (1994)Heavenly Creatures (1994)Interview with the Vampire (1994)Kid in King Arthur's Court, A (1995)Mary Shelley's Frankenstein (1994)Quick and the Dead, The (1995)Stephen King's The Langoliers (1995)Tales from the Hood (1995)Village of the Damned (1995)Clear and Present Danger (1994)Wes Craven's New Nightmare (1994)Speed (1994)Wolf (1994)Wyatt Earp (1994)Another Stakeout (1993)Blown Away (1994)Body Snatchers (1993)Boxing Helena (1993)City Slickers II: The Legend of Curly's Gold (1994)Cliffhanger (1993)Coneheads (1993)Demolition Man (1993)Fatal Instinct (1993)Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)Kalifornia (1993)Piano, The (1993)Romeo Is Bleeding (1993)Secret Garden, The (1993)Son in Law (1993)Terminal Velocity (1994)Hour of the Pig, The (1993)Beauty and the Beast (1991)Wild Bunch, The (1969)Hellraiser: Bloodline (1996)Primal Fear (1996)True Crime (1995)Stalingrad (1993)Heavy (1995)Fan, The (1996)Hunchback of Notre Dame, The (1996)Eraser (1996)Big Squeeze, The (1996)Police Story 4: Project S (Chao ji ji hua) (1993)Daniel Defoe's Robinson Crusoe (1996)For Whom the Bell Tolls (1943)American in Paris, An (1951)Rear Window (1954)It Happened One Night (1934)Meet Me in St. Louis (1944)All About Eve (1950)Rebecca (1940)Spellbound (1945)Father of the Bride (1950)Gigi (1958)Laura (1944)Lost Horizon (1937)My Man Godfrey (1936)Giant (1956)39 Steps, The (1935)Night of the Living Dead (1968)Blue Angel, The (Blaue Engel, Der) (1930)Picnic (1955)Extreme Measures (1996)Chamber, The (1996)Davy Crockett, King of the Wild Frontier (1955)Swiss Family Robinson (1960)Angels in the Outfield (1994)Three Caballeros, The (1945)Sword in the Stone, The (1963)So Dear to My Heart (1949)Robin Hood: Prince of Thieves (1991)Sleepers (1996)Victor/Victoria (1982)Great Race, The (1965)Crying Game, The (1992)Sophie's Choice (1982)Christmas Carol, A (1938)Microcosmos: Le peuple de l'herbe (1996)Fog, The (1980)Escape from New York (1981)Howling, The (1981)Return of Martin Guerre, The (Retour de Martin Guerre, Le) (1982)Tin Drum, The (Blechtrommel, Die) (1979)Cook the Thief His Wife & Her Lover, The (1989)Paths of Glory (1957)Grifters, The (1990)The Innocent (1994)Thin Blue Line, The (1988)Paris Is Burning (1990)Once Upon a Time in the West (1969)Ran (1985)Quiet Man, The (1952)Once Upon a Time in America (1984)Seventh Seal, The (Sjunde inseglet, Det) (1957)Glory (1989)Rosencrantz and Guildenstern Are Dead (1990)Touch of Evil (1958)Chinatown (1974)Stand by Me (1986)M (1931)Manchurian Candidate, The (1962)Pump Up the Volume (1990)Arsenic and Old Lace (1944)Fried Green Tomatoes (1991)High Noon (1952)Somewhere in Time (1980)Being There (1979)Paris, Texas (1984)Alien 3 (1992)Blood For Dracula (Andy Warhol's Dracula) (1974)Audrey Rose (1977)Blood Beach (1981)Body Parts (1991)Bride of Frankenstein (1935)Candyman (1992)Cape Fear (1962)Cat People (1982)Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)Crucible, The (1996)Fire on the Mountain (1996)Volcano (1997)Conan the Barbarian (1981)Wishmaster (1997)I Know What You Did Last Summer (1997)Rocket Man (1997)In the Line of Fire (1993)Executive Decision (1996)Perfect World, A (1993)McHale's Navy (1997)Leave It to Beaver (1997)Jackal, The (1997)Seven Years in Tibet (1997)Dark City (1998)American President, The (1995)Casino (1995)Persuasion (1995)Kicking and Screaming (1995)City Hall (1996)Basketball Diaries, The (1995)Browning Version, The (1994)Little Women (1994)Miami Rhapsody (1995)Wonderful, Horrible Life of Leni Riefenstahl, The (1993)Barcelona (1994)Widows' Peak (1994)House of the Spirits, The (1993)Singin' in the Rain (1952)Bad Moon (1996)Enchanted April (1991)Sex, Lies, and Videotape (1989)Strictly Ballroom (1992)Better Off Dead... (1985)Substance of Fire, The (1996)Tin Men (1987)Othello (1995)Carrington (1995)To Die For (1995)Home for the Holidays (1995)Juror, The (1996)In the Bleak Midwinter (1995)Canadian Bacon (1994)First Knight (1995)Mallrats (1995)Nine Months (1995)Boys on the Side (1995)Circle of Friends (1995)Exit to Eden (1994)Fluke (1995)Immortal Beloved (1994)Junior (1994)Nell (1994)Queen Margot (Reine Margot, La) (1994)Corrina, Corrina (1994)Dave (1993)Go Fish (1994)Made in America (1993)Philadelphia (1993)Shadowlands (1993)Sirens (1994)Threesome (1994)Pretty Woman (1990)Jane Eyre (1996)Last Supper, The (1995)Ransom (1996)Crow: City of Angels, The (1996)Michael Collins (1996)Ruling Class, The (1972)Real Genius (1985)Benny & Joon (1993)Saint, The (1997)MatchMaker, The (1997)Amistad (1997)Tomorrow Never Dies (1997)Replacement Killers, The (1998)Burnt By the Sun (1994)Red Corner (1997)Jumanji (1995)Father of the Bride Part II (1995)Across the Sea of Time (1995)Lawnmower Man 2: Beyond Cyberspace (1996)Fair Game (1995)Screamers (1995)Nick of Time (1995)Beautiful Girls (1996)Happy Gilmore (1996)If Lucy Fell (1996)Boomerang (1992)Man of the Year (1995)Addiction, The (1995)Casper (1995)Congo (1995)Devil in a Blue Dress (1995)Johnny Mnemonic (1995)Kids (1995)Mute Witness (1994)Prophecy, The (1995)Something to Talk About (1995)Three Wishes (1995)Castle Freak (1995)Don Juan DeMarco (1995)Drop Zone (1994)Dumb & Dumber (1994)French Kiss (1995)Little Odessa (1994)Milk Money (1994)Beyond Bedlam (1993)Only You (1994)Perez Family, The (1995)Roommates (1995)Relative Fear (1994)Swimming with Sharks (1995)Tommy Boy (1995)Baby-Sitters Club, The (1995)Bullets Over Broadway (1994)Crooklyn (1994)It Could Happen to You (1994)Richie Rich (1994)Speechless (1994)Timecop (1994)Bad Company (1995)Boys Life (1995)In the Mouth of Madness (1995)Air Up There, The (1994)Hard Target (1993)Heaven & Earth (1993)Jimmy Hollywood (1994)Manhattan Murder Mystery (1993)Menace II Society (1993)Poetic Justice (1993)Program, The (1993)Rising Sun (1993)Shadow, The (1994)Thirty-Two Short Films About Glenn Gould (1993)Andre (1994)Celluloid Closet, The (1995)Great Day in Harlem, A (1994)One Fine Day (1996)Candyman: Farewell to the Flesh (1995)Frisk (1995)Girl 6 (1996)Eddie (1996)Space Jam (1996)Mrs. Winterbourne (1996)Faces (1968)Mulholland Falls (1996)Great White Hype, The (1996)Arrival, The (1996)Phantom, The (1996)Daylight (1996)Alaska (1996)Fled (1996)Power 98 (1995)Escape from L.A. (1996)Bogus (1996)Bulletproof (1996)Halloween: The Curse of Michael Myers (1995)Gay Divorcee, The (1934)Ninotchka (1939)Meet John Doe (1941)In the Line of Duty 2 (1987)Loch Ness (1995)Last Man Standing (1996)Glimmer Man, The (1996)Pollyanna (1960)Shaggy Dog, The (1959)Freeway (1996)That Thing You Do! (1996)To Gillian on Her 37th Birthday (1996)Looking for Richard (1996)Murder, My Sweet (1944)Days of Thunder (1990)Perfect Candidate, A (1996)Two or Three Things I Know About Her (1966)Bloody Child, The (1996)Braindead (1992)Bad Taste (1987)Diva (1981)Night on Earth (1991)Paris Was a Woman (1995)Amityville: Dollhouse (1996)April Fool's Day (1986)Believers, The (

In [61]:
movieRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
for index, row in movieRatings.iterrows():
    count = row.count()
    if count > 1:
        print(f"User {index} has rated {count} movies.")

User 0 has rated 3 movies.
User 1 has rated 271 movies.
User 2 has rated 61 movies.
User 3 has rated 53 movies.
User 4 has rated 24 movies.
User 5 has rated 175 movies.
User 6 has rated 208 movies.
User 7 has rated 401 movies.
User 8 has rated 59 movies.
User 9 has rated 22 movies.
User 10 has rated 184 movies.
User 11 has rated 181 movies.
User 12 has rated 51 movies.
User 13 has rated 632 movies.
User 14 has rated 98 movies.
User 15 has rated 103 movies.
User 16 has rated 140 movies.
User 17 has rated 28 movies.
User 18 has rated 277 movies.
User 19 has rated 20 movies.
User 20 has rated 48 movies.
User 21 has rated 178 movies.
User 22 has rated 127 movies.
User 23 has rated 151 movies.
User 24 has rated 68 movies.
User 25 has rated 78 movies.
User 26 has rated 107 movies.
User 27 has rated 25 movies.
User 28 has rated 78 movies.
User 29 has rated 34 movies.
User 30 has rated 43 movies.
User 31 has rated 36 movies.
User 32 has rated 40 movies.
User 33 has rated 23 movies.
User 34 has rated 20 movies.
User 35 has rated 23 movies.
User 36 has rated 20 movies.
User 37 has rated 57 movies.
User 38 has rated 121 movies.
User 39 has rated 22 movies.
User 40 has rated 35 movies.
User 41 has rated 52 movies.
User 42 has rated 183 movies.
User 43 has rated 221 movies.
User 44 has rated 151 movies.
User 45 has rated 48 movies.
User 46 has rated 27 movies.
User 47 has rated 25 movies.
User 48 has rated 65 movies.
User 49 has rated 214 movies.
User 50 has rated 23 movies.
User 51 has rated 23 movies.
User 52 has rated 56 movies.
User 53 has rated 28 movies.
User 54 has rated 65 movies.
User 55 has rated 21 movies.
User 56 has rated 187 movies.
User 57 has rated 106 movies.
User 58 has rated 153 movies.
User 59 has rated 382 movies.
User 60 has rated 208 movies.
User 61 has rated 21 movies.
User 62 has rated 232 movies.
User 63 has rated 92 movies.
User 64 has rated 200 movies.
User 65 has rated 80 movies.
User 66 has rated 38 movies.
User 67 has rated 30 movies.
User 68 has rated 34 movies.
User 69 has rated 64 movies.
User 70 has rated 131 movies.
User 71 has rated 38 movies.
User 72 has rated 137 movies.
User 73 has rated 65 movies.
User 74 has rated 39 movies.
User 75 has rated 79 movies.
User 76 has rated 82 movies.
User 77 has rated 71 movies.
User 78 has rated 21 movies.
User 79 has rated 54 movies.
User 80 has rated 29 movies.
User 81 has rated 58 movies.
User 82 has rated 168 movies.
User 83 has rated 155 movies.
User 84 has rated 68 movies.
User 85 has rated 287 movies.
User 86 has rated 23 movies.
User 87 has rated 210 movies.
User 88 has rated 21 movies.
User 89 has rated 75 movies.
User 90 has rated 300 movies.
User 91 has rated 98 movies.
User 92 has rated 386 movies.
User 93 has rated 20 movies.
User 94 has rated 399 movies.
User 95 has rated 278 movies.
User 96 has rated 56 movies.
User 97 has rated 63 movies.
User 98 has rated 27 movies.
User 99 has rated 134 movies.
User 100 has rated 59 movies.
User 101 has rated 67 movies.
User 102 has rated 216 movies.
User 103 has rated 29 movies.
User 104 has rated 110 movies.
User 105 has rated 23 movies.
User 106 has rated 64 movies.
User 107 has rated 22 movies.
User 108 has rated 33 movies.
User 109 has rated 234 movies.
User 110 has rated 133 movies.
User 111 has rated 24 movies.
User 112 has rated 46 movies.
User 113 has rated 50 movies.
User 114 has rated 48 movies.
User 115 has rated 92 movies.
User 116 has rated 140 movies.
User 117 has rated 86 movies.
User 118 has rated 71 movies.
User 119 has rated 180 movies.
User 120 has rated 26 movies.
User 121 has rated 74 movies.
User 122 has rated 61 movies.
User 123 has rated 54 movies.
User 124 has rated 24 movies.
User 125 has rated 182 movies.
User 126 has rated 45 movies.
User 127 has rated 23 movies.
User 128 has rated 184 movies.
User 129 has rated 30 movies.
User 130 has rated 351 movies.
User 131 has rated 30 movies.
User 132 has rated 22 movies.
User 133 has rated 26 movies.
User 134 has rated 25 movies.
User 135 has rated 55 movies.
User 136 has rated 35 movies.
User 137 has rated 46 movies.
User 138 has rated 51 movies.
User 139 has rated 22 movies.
User 140 has rated 21 movies.
User 141 has rated 107 movies.
User 142 has rated 33 movies.
User 143 has rated 20 movies.
User 144 has rated 204 movies.
User 145 has rated 313 movies.
User 146 has rated 29 movies.
User 147 has rated 20 movies.
User 148 has rated 65 movies.
User 149 has rated 36 movies.
User 150 has rated 31 movies.
User 151 has rated 307 movies.
User 152 has rated 106 movies.
User 153 has rated 23 movies.
User 154 has rated 51 movies.
User 155 has rated 22 movies.
User 156 has rated 37 movies.
User 157 has rated 51 movies.
User 158 has rated 173 movies.
User 159 has rated 106 movies.
User 160 has rated 120 movies.
User 161 has rated 58 movies.
User 162 has rated 42 movies.
User 163 has rated 23 movies.
User 164 has rated 63 movies.
User 165 has rated 29 movies.
User 166 has rated 20 movies.
User 167 has rated 69 movies.
User 168 has rated 69 movies.
User 169 has rated 37 movies.
User 170 has rated 21 movies.
User 171 has rated 28 movies.
User 172 has rated 27 movies.
User 173 has rated 43 movies.
User 174 has rated 176 movies.
User 175 has rated 38 movies.
User 176 has rated 60 movies.
User 177 has rated 115 movies.
User 178 has rated 270 movies.
User 179 has rated 42 movies.
User 180 has rated 63 movies.
User 181 has rated 433 movies.
User 182 has rated 28 movies.
User 183 has rated 53 movies.
User 184 has rated 251 movies.
User 185 has rated 48 movies.
User 186 has rated 92 movies.
User 187 has rated 56 movies.
User 188 has rated 112 movies.
User 189 has rated 186 movies.
User 190 has rated 59 movies.
User 191 has rated 27 movies.
User 192 has rated 35 movies.
User 193 has rated 120 movies.
User 194 has rated 305 movies.
User 195 has rated 95 movies.
User 196 has rated 39 movies.
User 197 has rated 118 movies.
User 198 has rated 181 movies.
User 199 has rated 40 movies.
User 200 has rated 216 movies.
User 201 has rated 386 movies.
User 202 has rated 20 movies.
User 203 has rated 43 movies.
User 204 has rated 41 movies.
User 205 has rated 22 movies.
User 206 has rated 64 movies.
User 207 has rated 230 movies.
User 208 has rated 33 movies.
User 209 has rated 33 movies.
User 210 has rated 132 movies.
User 211 has rated 37 movies.
User 212 has rated 24 movies.
User 213 has rated 126 movies.
User 214 has rated 127 movies.
User 215 has rated 93 movies.
User 216 has rated 131 movies.
User 217 has rated 76 movies.
User 218 has rated 53 movies.
User 219 has rated 28 movies.
User 220 has rated 22 movies.
User 221 has rated 145 movies.
User 222 has rated 386 movies.
User 223 has rated 105 movies.
User 224 has rated 141 movies.
User 225 has rated 27 movies.
User 226 has rated 50 movies.
User 227 has rated 58 movies.
User 228 has rated 21 movies.
User 229 has rated 30 movies.
User 230 has rated 132 movies.
User 231 has rated 21 movies.
User 232 has rated 92 movies.
User 233 has rated 110 movies.
User 234 has rated 478 movies.
User 235 has rated 94 movies.
User 236 has rated 124 movies.
User 237 has rated 48 movies.
User 238 has rated 29 movies.
User 239 has rated 159 movies.
User 240 has rated 24 movies.
User 241 has rated 23 movies.
User 242 has rated 20 movies.
User 243 has rated 80 movies.
User 244 has rated 237 movies.
User 245 has rated 22 movies.
User 246 has rated 195 movies.
User 247 has rated 26 movies.
User 248 has rated 56 movies.
User 249 has rated 161 movies.
User 250 has rated 122 movies.
User 251 has rated 77 movies.
User 252 has rated 21 movies.
User 253 has rated 97 movies.
User 254 has rated 159 movies.
User 255 has rated 83 movies.
User 256 has rated 207 movies.
User 257 has rated 57 movies.
User 258 has rated 23 movies.
User 259 has rated 46 movies.
User 260 has rated 24 movies.
User 261 has rated 27 movies.
User 262 has rated 160 movies.
User 263 has rated 123 movies.
User 264 has rated 120 movies.
User 265 has rated 46 movies.
User 266 has rated 23 movies.
User 267 has rated 185 movies.
User 268 has rated 327 movies.
User 269 has rated 322 movies.
User 270 has rated 138 movies.
User 271 has rated 278 movies.
User 272 has rated 51 movies.
User 273 has rated 22 movies.
User 274 has rated 71 movies.
User 275 has rated 95 movies.
User 276 has rated 516 movies.
User 277 has rated 54 movies.
User 278 has rated 23 movies.
User 279 has rated 434 movies.
User 280 has rated 258 movies.
User 281 has rated 26 movies.
User 282 has rated 22 movies.
User 283 has rated 53 movies.
User 284 has rated 47 movies.
User 285 has rated 32 movies.
User 286 has rated 287 movies.
User 287 has rated 61 movies.
User 288 has rated 75 movies.
User 289 has rated 27 movies.
User 290 has rated 150 movies.
User 291 has rated 295 movies.
User 292 has rated 124 movies.
User 293 has rated 387 movies.
User 294 has rated 148 movies.
User 295 has rated 196 movies.
User 296 has rated 145 movies.
User 297 has rated 192 movies.
User 298 has rated 127 movies.
User 299 has rated 279 movies.
User 300 has rated 19 movies.
User 301 has rated 275 movies.
User 302 has rated 20 movies.
User 303 has rated 483 movies.
User 304 has rated 26 movies.
User 305 has rated 220 movies.
User 306 has rated 32 movies.
User 307 has rated 112 movies.
User 308 has rated 397 movies.
User 309 has rated 20 movies.
User 310 has rated 21 movies.
User 311 has rated 293 movies.
User 312 has rated 223 movies.
User 313 has rated 262 movies.
User 314 has rated 244 movies.
User 315 has rated 87 movies.
User 316 has rated 75 movies.
User 317 has rated 22 movies.
User 318 has rated 173 movies.
User 319 has rated 23 movies.
User 320 has rated 154 movies.
User 321 has rated 125 movies.
User 322 has rated 51 movies.
User 323 has rated 88 movies.
User 324 has rated 66 movies.
User 325 has rated 141 movies.
User 326 has rated 187 movies.
User 327 has rated 282 movies.
User 328 has rated 283 movies.
User 329 has rated 64 movies.
User 330 has rated 147 movies.
User 331 has rated 70 movies.
User 332 has rated 183 movies.
User 333 has rated 26 movies.
User 334 has rated 329 movies.
User 335 has rated 22 movies.
User 336 has rated 130 movies.
User 337 has rated 34 movies.
User 338 has rated 75 movies.
User 339 has rated 254 movies.
User 340 has rated 44 movies.
User 341 has rated 20 movies.
User 342 has rated 201 movies.
User 343 has rated 236 movies.
User 344 has rated 188 movies.
User 345 has rated 230 movies.
User 346 has rated 193 movies.
User 347 has rated 198 movies.
User 348 has rated 58 movies.
User 349 has rated 41 movies.
User 350 has rated 50 movies.
User 351 has rated 44 movies.
User 352 has rated 42 movies.
User 353 has rated 25 movies.
User 354 has rated 230 movies.
User 355 has rated 26 movies.
User 356 has rated 24 movies.
User 357 has rated 76 movies.
User 358 has rated 43 movies.
User 359 has rated 26 movies.
User 360 has rated 101 movies.
User 361 has rated 121 movies.
User 362 has rated 25 movies.
User 363 has rated 311 movies.
User 364 has rated 20 movies.
User 365 has rated 58 movies.
User 366 has rated 33 movies.
User 367 has rated 57 movies.
User 368 has rated 44 movies.
User 369 has rated 22 movies.
User 370 has rated 75 movies.
User 371 has rated 51 movies.
User 372 has rated 66 movies.
User 373 has rated 233 movies.
User 374 has rated 274 movies.
User 375 has rated 28 movies.
User 376 has rated 29 movies.
User 377 has rated 33 movies.
User 378 has rated 374 movies.
User 379 has rated 196 movies.
User 380 has rated 161 movies.
User 381 has rated 127 movies.
User 382 has rated 53 movies.
User 383 has rated 71 movies.
User 384 has rated 22 movies.
User 385 has rated 279 movies.
User 386 has rated 23 movies.
User 387 has rated 303 movies.
User 388 has rated 51 movies.
User 389 has rated 271 movies.
User 390 has rated 31 movies.
User 391 has rated 121 movies.
User 392 has rated 109 movies.
User 393 has rated 447 movies.
User 394 has rated 149 movies.
User 395 has rated 57 movies.
User 396 has rated 54 movies.
User 397 has rated 102 movies.
User 398 has rated 172 movies.
User 399 has rated 318 movies.
User 400 has rated 22 movies.
User 401 has rated 153 movies.
User 402 has rated 68 movies.
User 403 has rated 50 movies.
User 404 has rated 44 movies.
User 405 has rated 736 movies.
User 406 has rated 341 movies.
User 407 has rated 226 movies.
User 408 has rated 27 movies.
User 409 has rated 202 movies.
User 410 has rated 28 movies.
User 411 has rated 58 movies.
User 412 has rated 51 movies.
User 413 has rated 49 movies.
User 414 has rated 25 movies.
User 415 has rated 24 movies.
User 416 has rated 487 movies.
User 417 has rated 364 movies.
User 418 has rated 20 movies.
User 419 has rated 32 movies.
User 420 has rated 36 movies.
User 421 has rated 62 movies.
User 422 has rated 97 movies.
User 423 has rated 63 movies.
User 424 has rated 44 movies.
User 425 has rated 203 movies.
User 426 has rated 101 movies.
User 427 has rated 31 movies.
User 428 has rated 55 movies.
User 429 has rated 414 movies.
User 430 has rated 64 movies.
User 431 has rated 21 movies.
User 432 has rated 62 movies.
User 433 has rated 40 movies.
User 434 has rated 44 movies.
User 435 has rated 378 movies.
User 436 has rated 145 movies.
User 437 has rated 263 movies.
User 438 has rated 33 movies.
User 439 has rated 30 movies.
User 440 has rated 51 movies.
User 441 has rated 20 movies.
User 442 has rated 143 movies.
User 443 has rated 24 movies.
User 444 has rated 24 movies.
User 445 has rated 134 movies.
User 446 has rated 36 movies.
User 447 has rated 139 movies.
User 448 has rated 38 movies.
User 449 has rated 75 movies.
User 450 has rated 538 movies.
User 451 has rated 96 movies.
User 452 has rated 206 movies.
User 453 has rated 155 movies.
User 454 has rated 236 movies.
User 455 has rated 189 movies.
User 456 has rated 217 movies.
User 457 has rated 276 movies.
User 458 has rated 183 movies.
User 459 has rated 118 movies.
User 460 has rated 67 movies.
User 461 has rated 23 movies.
User 462 has rated 33 movies.
User 463 has rated 132 movies.
User 464 has rated 53 movies.
User 465 has rated 80 movies.
User 466 has rated 101 movies.
User 467 has rated 43 movies.
User 468 has rated 143 movies.
User 469 has rated 43 movies.
User 470 has rated 56 movies.
User 471 has rated 31 movies.
User 472 has rated 263 movies.
User 473 has rated 34 movies.
User 474 has rated 327 movies.
User 475 has rated 20 movies.
User 476 has rated 83 movies.
User 477 has rated 35 movies.
User 478 has rated 113 movies.
User 479 has rated 200 movies.
User 480 has rated 60 movies.
User 481 has rated 56 movies.
User 482 has rated 25 movies.
User 483 has rated 59 movies.
User 484 has rated 139 movies.
User 485 has rated 26 movies.
User 486 has rated 187 movies.
User 487 has rated 231 movies.
User 488 has rated 153 movies.
User 489 has rated 107 movies.
User 490 has rated 57 movies.
User 491 has rated 33 movies.
User 492 has rated 55 movies.
User 493 has rated 134 movies.
User 494 has rated 47 movies.
User 495 has rated 213 movies.
User 496 has rated 128 movies.
User 497 has rated 279 movies.
User 498 has rated 149 movies.
User 499 has rated 102 movies.
User 500 has rated 224 movies.
User 501 has rated 73 movies.
User 502 has rated 36 movies.
User 503 has rated 158 movies.
User 504 has rated 251 movies.
User 505 has rated 112 movies.
User 506 has rated 242 movies.
User 507 has rated 58 movies.
User 508 has rated 87 movies.
User 509 has rated 32 movies.
User 510 has rated 29 movies.
User 511 has rated 24 movies.
User 512 has rated 21 movies.
User 513 has rated 22 movies.
User 514 has rated 194 movies.
User 515 has rated 40 movies.
User 516 has rated 21 movies.
User 517 has rated 37 movies.
User 518 has rated 73 movies.
User 519 has rated 48 movies.
User 520 has rated 23 movies.
User 521 has rated 149 movies.
User 522 has rated 30 movies.
User 523 has rated 100 movies.
User 524 has rated 305 movies.
User 525 has rated 54 movies.
User 526 has rated 68 movies.
User 527 has rated 137 movies.
User 528 has rated 53 movies.
User 529 has rated 43 movies.
User 530 has rated 45 movies.
User 531 has rated 30 movies.
User 532 has rated 271 movies.
User 533 has rated 259 movies.
User 534 has rated 80 movies.
User 535 has rated 218 movies.
User 536 has rated 162 movies.
User 537 has rated 489 movies.
User 538 has rated 81 movies.
User 539 has rated 56 movies.
User 540 has rated 63 movies.
User 541 has rated 132 movies.
User 542 has rated 135 movies.
User 543 has rated 197 movies.
User 544 has rated 31 movies.
User 545 has rated 161 movies.
User 546 has rated 59 movies.
User 547 has rated 23 movies.
User 548 has rated 155 movies.
User 549 has rated 25 movies.
User 550 has rated 40 movies.
User 551 has rated 334 movies.
User 552 has rated 84 movies.
User 553 has rated 100 movies.
User 554 has rated 114 movies.
User 555 has rated 52 movies.
User 556 has rated 44 movies.
User 557 has rated 51 movies.
User 558 has rated 20 movies.
User 559 has rated 76 movies.
User 560 has rated 100 movies.
User 561 has rated 357 movies.
User 562 has rated 72 movies.
User 563 has rated 30 movies.
User 564 has rated 34 movies.
User 565 has rated 35 movies.
User 566 has rated 149 movies.
User 567 has rated 153 movies.
User 568 has rated 81 movies.
User 569 has rated 70 movies.
User 570 has rated 22 movies.
User 571 has rated 20 movies.
User 572 has rated 20 movies.
User 573 has rated 51 movies.
User 574 has rated 46 movies.
User 575 has rated 26 movies.
User 576 has rated 36 movies.
User 577 has rated 188 movies.
User 578 has rated 23 movies.
User 579 has rated 74 movies.
User 580 has rated 46 movies.
User 581 has rated 28 movies.
User 582 has rated 61 movies.
User 583 has rated 27 movies.
User 584 has rated 24 movies.
User 585 has rated 80 movies.
User 586 has rated 166 movies.
User 587 has rated 96 movies.
User 588 has rated 225 movies.
User 589 has rated 43 movies.
User 590 has rated 48 movies.
User 591 has rated 84 movies.
User 592 has rated 356 movies.
User 593 has rated 156 movies.
User 594 has rated 25 movies.
User 595 has rated 95 movies.
User 596 has rated 20 movies.
User 597 has rated 41 movies.
User 598 has rated 25 movies.
User 599 has rated 47 movies.
User 600 has rated 89 movies.
User 601 has rated 148 movies.
User 602 has rated 29 movies.
User 603 has rated 47 movies.
User 604 has rated 27 movies.
User 605 has rated 90 movies.
User 606 has rated 236 movies.
User 607 has rated 37 movies.
User 608 has rated 162 movies.
User 609 has rated 28 movies.
User 610 has rated 75 movies.
User 611 has rated 42 movies.
User 612 has rated 27 movies.
User 613 has rated 27 movies.
User 614 has rated 39 movies.
User 615 has rated 103 movies.
User 616 has rated 42 movies.
User 617 has rated 107 movies.
User 618 has rated 216 movies.
User 619 has rated 89 movies.
User 620 has rated 109 movies.
User 621 has rated 170 movies.
User 622 has rated 228 movies.
User 623 has rated 45 movies.
User 624 has rated 139 movies.
User 625 has rated 106 movies.
User 626 has rated 31 movies.
User 627 has rated 181 movies.
User 628 has rated 27 movies.
User 629 has rated 120 movies.
User 630 has rated 108 movies.
User 631 has rated 20 movies.
User 632 has rated 118 movies.
User 633 has rated 58 movies.
User 634 has rated 135 movies.
User 635 has rated 33 movies.
User 636 has rated 20 movies.
User 637 has rated 103 movies.
User 638 has rated 67 movies.
User 639 has rated 147 movies.
User 640 has rated 109 movies.
User 641 has rated 39 movies.
User 642 has rated 318 movies.
User 643 has rated 205 movies.
User 644 has rated 42 movies.
User 645 has rated 122 movies.
User 646 has rated 38 movies.
User 647 has rated 58 movies.
User 648 has rated 295 movies.
User 649 has rated 24 movies.
User 650 has rated 311 movies.
User 651 has rated 21 movies.
User 652 has rated 22 movies.
User 653 has rated 282 movies.
User 654 has rated 146 movies.
User 655 has rated 678 movies.
User 656 has rated 24 movies.
User 657 has rated 29 movies.
User 658 has rated 71 movies.
User 659 has rated 191 movies.
User 660 has rated 223 movies.

In [86]:
counts = movieRatings.count()

# Find the column with the highest count
most_rated_movie = counts.idxmax()

print(f"The most rated movie is {most_rated_movie} with {counts[most_rated_movie]} ratings.")

The most rated movie is Star Wars (1977) with 584 ratings.

In [87]:


# Calculate the mean rating for each movie
mean_ratings =movieRatings.mean()

# Print the top 10 movies with the highest mean rating
top_10_movies = mean_ratings.nlargest(10)
print("Top 10 movies by mean rating:")
for movie, rating in top_10_movies.items():
    print(f"{movie}: {rating:.2f}")

Top 10 movies by mean rating:
Aiqing wansui (1994): 5.00
Entertaining Angels: The Dorothy Day Story (1996): 5.00
Great Day in Harlem, A (1994): 5.00
Marlene Dietrich: Shadow and Light (1996) : 5.00
Prefontaine (1997): 5.00
Saint of Fort Washington, The (1993): 5.00
Santa with Muscles (1996): 5.00
Someone Else's America (1995): 5.00
Star Kid (1997): 5.00
They Made Me a Criminal (1939): 5.00

In [88]:
import pandas as pd



# Count the number of non-NaN values for each column (i.e. number of ratings for each movie)
movie_counts = movieRatings.count()

# Sort the movie counts in descending order and select the top 10
top_10_movies = movie_counts.sort_values(ascending=False).head(10)

# Print the top 10 most rated movies
print("Top 10 most rated movies:")
for movie, count in top_10_movies.items():
    print(f"{movie}: {count} ratings")

Top 10 most rated movies:
Star Wars (1977): 584 ratings
Contact (1997): 509 ratings
Fargo (1996): 508 ratings
Return of the Jedi (1983): 507 ratings
Liar Liar (1997): 485 ratings
English Patient, The (1996): 481 ratings
Scream (1996): 478 ratings
Toy Story (1995): 452 ratings
Air Force One (1997): 431 ratings
Independence Day (ID4) (1996): 429 ratings

In [92]:
Contact = movieRatings['Contact (1997)']
Contact.head()

user_id
0    NaN
1    5.0
2    3.0
3    2.0
4    5.0
Name: Contact (1997), dtype: float64

In [93]:
similarmovies=movieRatings.corrwith(Contact)
similarmovies=similarmovies.dropna()

C:\Users\ninja\anaconda3\lib\site-packages\numpy\lib\function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\ninja\anaconda3\lib\site-packages\numpy\lib\function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [101]:
similarmovies.sort_values(ascending=False)
df=pd.DataFrame(similarmovies)

In [102]:
df

                                              0
title
'Til There Was You (1997)              0.904534
101 Dalmatians (1996)                 -0.108441
12 Angry Men (1957)                    0.022265
187 (1997)                             0.135512
2 Days in the Valley (1996)            0.248031
...                                         ...
Young Guns (1988)                      0.388839
Young Guns II (1990)                   0.326304
Young Poisoner's Handbook, The (1995) -0.006864
Zeus and Roxanne (1997)               -0.866025
unknown                                0.243975

[1392 rows x 1 columns]